/********* Review pages *********/
#storefront {
    width: 100%;
    max-width: 700px;
    margin-top: 10px;
}

#store_details {
    list-style-type: none;
}

.store-description {
    width: 90%;
    margin-top: 20px;
}
#review , #review1, #richmond-more, #downtown-more, #burnaby-more, #review2{
    margin-top: 5%;
}

#review div, #review1 div, #richmond-more div, #downtown-more div, #burnaby-more div, #review2 div{
    margin-bottom: 20px;
}

.head {
    color: #0D6391 ;
    display: inline-block;
    margin-right: 10px;
}

.review-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.value {
    color: #D28529;
    display: inline-block;
}
