/********* Stylesheet for employee.html *********/

.container {
    grid-template-areas:
        "heading"
        "content-card"
        "footer";
}

.heading-container {
    display: grid;
}

.page-heading {
    justify-self: center;
}

.page-subheading {
    justify-self: center;
}

#main-content-card {
    display: grid;
    grid-template-areas: 
        "auth-container"
        "member-message"
        "member-login-button";
    grid-area: content-card;
}

#firebaseui-auth-container {
    grid-area: auth-container;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 90%;
    justify-self: center;
}

#firebaseui-auth- {
    width: 100%;
}


#providerID {
    background-color: seagreen;
}

.text-container {
    display: flex;
    grid-area: member-message;
    height: 100%;
    justify-content: center;
    margin-bottom: 22px;
}

.text-container p {
    display: flex;
    height: 100%;
    align-items: center;
}

#member-login-button {
    grid-area: member-login-button;
    justify-self: center;
    width: 210px;
    margin-bottom: 18px;
}