.button-main {
    background-color: #0D6391;
}

.button-main:hover {
    background-color: #2f88b8;
}

#star_rating {
    max-width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.characters_remaining {
    display: flex;
}

.characters_remaining p {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 5px;
}

#counter {
    background-color: white;
}

input {
    border: none;
    color: black;
}

#content_container {
    display: grid;
}
