/********* index.html *********/
.container {
    grid-template-areas: 
        "heading"
        "buttons"
        "content-card"
        "footer";
}

.button-container {
    grid-area: buttons;
}

#member-login-button, #employee-login-button {
    width: 210px;
}

#main-content-card {
    display: grid;
    grid-template-areas: 
        "costco-image"
        "card-text";
    grid-area: content-card;
    width: 100%;
    height: 100%;
    justify-self: center;
    margin-top: 25px;
}

#main-content-card img {
    grid-area: costco-image;
    width: 100%; 
}

.card-body {
    display: grid;
    grid-area: card-text;
    position: relative;
    top:-20px;
}

#more-info-button {
    width: 100px;
}

.card-title {
    display: flex;
    font-size: 25pt;
    font-weight: 700;
    color: rgb(70, 180, 240);
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card-text {
    display: flex;
    font-size: 20px;
    color: #0D6391;
    height: 100%;
}

footer {
    margin-top: 70px;
}