/********* Stylesheet for main.html (member) *********/

.container {
    grid-template-areas:
        "heading"
        "content-card"
        "footer";
}

.heading-container {
    display: flex;
    text-align: center;
}

#main-content-card {
    display: grid;
    grid-template-areas:
        "card-text"
        "view-stores"
        "leave-feedback"
        "log-out";
    grid-area: content-card;
    grid-gap: 15px;
}

.card-text-container {
    display: flex;
    justify-content: center;
    grid-area: card-text;
    margin-top: 15px;
}

.card-text {
    display: flex;
    grid-area: card-text;
    height: 100%;
    align-items: center;
}

.button-main {
    width: 160px;
}

#view-stores-button {
    grid-area: view-stores;
}

#leave-feedback-button {
    grid-area: leave-feedback;
}

#log-out-button {
    grid-area: log-out;
    margin-bottom: 25px;
}