.container {
    grid-template-areas:
        "heading"
        "content-card"
        "footer";
}

#main-content-card {
    display: grid;
    grid-template-areas: 
        "dropdown-menu"
        "image-carousel";
    grid-area: content-card;
    margin: 0;
    margin-top: 18px;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#dropdown-menu {
    grid-area: dropdown-menu;
    text-align: justify;
}

.slide {
    grid-area: image-carousel;
    width: 100%;
    margin-top: 5px;
}


