/********* Stat pages *********/
#store-name-container {
    display: flex;
    justify-content: center;
    grid-area: store-name;
}

#store-name {
    display: flex;
    height: 100%;
    align-items: center;
}

.day-selector-container {
    display: flex;
    grid-area: day-selector;
    justify-content: center;
    font-size: 20pt;
}

.day-selector {
    display: flex;
    height: 100%;
    align-items: center;
    font-weight: bold;
    color: #ff9100;
}

#current-day {
    display: flex;
    width: 120px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.stats-container {
    display: flex;
    grid-area: stats-table;
    justify-content: center;
    align-items: center;
}

#stats-table {
    width: 50%;
    table-layout: fixed;
    font-family: 'DotGothic16', Times, serif;
}

#stats-table th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

#content-container1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "store-name"
        "day-selector"
        "stats-table"
        "footer";
    position: relative;
    padding-top: 50px;
}
