/********* Stylesheet for stats.html *********/

.container {
    display: grid;
    grid-template-areas:
        "heading"
        "content-card"
        "footer";
}

.heading-container {
    grid-area: heading;
}


.day-selector-container {
    display: flex;
    grid-area: day-selector;
    justify-content: center;
    font-size: 20pt;
}

#main-content-card {
    display: grid;
    grid-template-areas:
        "day-selector"
        "stats-table";
    grid-area: content-card;
}

.day-selector-container {
    grid-area: day-selector;
}

.day-selector {
    display: flex;
    height: 100%;
    align-items: center;
    font-weight: bold;
    color: #ff9100;
}

#current-day {
    display: flex;
    width: 120px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.stats-container {
    display: flex;
    grid-area: stats-table;
    justify-content: center;
    align-items: center;
}

#stats-table {
    width: 80%;
    table-layout: fixed;
    margin-bottom: 30px;
}

#stats-table th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}
