:root {
    --star-size: 25px;
    --star-color: #fff;
    --star-background: #edb767;
}

.content-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
        "stars"
        "store-name"
        "map"
        "store-info"
        "buttons"
        "footer";
}

iframe {
    grid-area: map;
    justify-self: center;
    border: 1px solid black;
}

.store-name-container {
    display: grid;
    grid-area: store-name;
    text-align: center;
    height: 100%;
}

.store-info-container {
    grid-area: store-info;
    text-align: center;
}

.store-name-container p, .store-info-container p {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.stars {
    display: flex;
    --percent: calc(var(--rating) / 5 * 103%);
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
    margin-left: 7px;
    height: 100%;
    align-items: center;
}

.stars::before {
    content: '🟊🟊🟊🟊🟊';
    letter-spacing: -3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star-container {
    display: flex;
    flex-direction: row;
    grid-area: stars;
    height: 30px;
    justify-content: flex-start;
}

.star-container p {
    display: flex;
    height: 100%;
    align-items: center;
}

.button-container {
    grid-area: buttons;
    display: grid;
    row-gap: 20px;
    width: 50%;
    justify-self: center;
}