/********* Styles all pages *********/
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: #041E2A;
}
.navbar {
     background-color: #0D6391;
}

.nav-item:hover{
    background-color:  #b3b3b3;
    border-radius: 20px;
    
}
.nav-item a:hover {
    color: black;
}
.display-4 {
    color: #E38106;
}

.button-main {
    background-color: #0D6391;
    border: none;
    color: white;
}

.button-main:hover {
    background-color: #2f88b8;
}
.center-text {
    text-align: center;
}

#trademark {
    color: #E38106;

}

#back_button {
    height: 30px;
    width: auto;
}

footer {
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

/********* index.html *********/
#card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
    color: #E38106;;
}

.card-text {
    color: #0D6391;
}

/*********** more-info ****************/

.accordion-button {
    color: #0D6391 ;
}

.accordion-body {
    color: #D28529
}

/********* main_stores.html *********/
#heading {
    text-align: center;
    margin-bottom: 50px;
}

/********* Review pages *********/
#storefront {
    width: 100%;
    max-width: 700px;
    margin-top: 10px;
}

#store_details {
    list-style-type: none;
}

.store-description {
    width: 90%;
    margin-top: 20px;
}
#review , #review1, #richmond-more, #downtown-more, #burnaby-more, #review2{
    margin-top: 5%;
}

#review div, #review1 div, #richmond-more div, #downtown-more div, #burnaby-more div, #review2 div{
    margin-bottom: 20px;
}

.head {
    color: green;
    display: inline-block;
    margin-right: 10px;
}

.review-box {
    background-color: lightgrey;
}

.value {
    display: inline-block;
}

/********* Stat pages *********/
#store_name_container {
    display: flex;
    justify-content: center;
    grid-area: store_name;
}

#store_name {
    display: flex;
    height: 100%;
    align-items: center;
}

.day_selector_container {
    display: flex;
    grid-area: day_selector;
    justify-content: center;
    font-size: 20pt;
}

.day_selector {
    display: flex;
    height: 100%;
    align-items: center;
    font-weight: bold;
    color: #ff9100;
}

#current_day {
    display: flex;
    width: 120px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.stats_container {
    display: flex;
    grid-area: stats_table;
    justify-content: center;
    align-items: center;
}

#stats_table {
    width: 50%;
    table-layout: fixed;
    font-family: 'DotGothic16', Times, serif;
}

#stats_table th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

footer {
    grid-area: footer;
}

#content_container1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "store_name"
        "day_selector"
        "stats_table"
        "footer";
    position: relative;
    padding-top: 50px;
}

/********* Store pages *********/
#address {
    font-size: 14px;
}

.copy {
    height: 20px;
    width: 20px;
}

/******** feedback.html ********/
#question {
    grid-area: question;
}

#star_rating {
    grid-area: star_rating;
}

#comment_box {
    grid-area: comment_box;
}

.characters_remaining {
    display: flex;
    grid-area: characters_remaining;
    flex-direction: row;
    justify-content: flex-start;
    height: 30px;
    font-size: 10pt;
}

.characters_remaining p {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 5px;
}

input {
    border: none;
    background-color: white;
    color: black;
}

#submit-button {
    grid-area: submit_button;
    margin-top: 20px;
}

.control {
    grid-area: feedback;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 20px;
}

#content_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "question"
        "star_rating"
        "comment_box"
        "characters_remaining"
        "submit_button"
        "feedback"
}

/******** employee_headcount.html ********/
.headcount_button {
    font-size: 20px;
    width: 90%;
    height: 150px;
}

#increase_headcount {
    grid-area: increase_headcount;
}

#decrease_headcount {
    grid-area: decrease_headcount;
}

.supersize {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}

#update_headcount {
    grid-area: update_headcount;
    margin-top: 15px;
    width: 50%;
    font-size: 25px;
    letter-spacing: 1px;
}

#feedback_placeholder {
    grid-area: feedback;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#button_container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    grid-template-areas:
        "increase_headcount decrease_headcount"
        "update_headcount update_headcount"
        "feedback feedback"
        "footer footer";
    justify-items: center;
}

/******** store_main.html ********/
:root {
    --star-size: 25px;
    --star-color: #fff;
    --star-background: #edb767;
}

.stars {
    display: flex;
    --percent: calc(var(--rating) / 5 * 103%);
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
    margin-left: 7px;
    height: 100%;
    align-items: center;
}

.stars::before {
    content: '🟊🟊🟊🟊🟊';
    letter-spacing: -3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star_container {
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: flex-start;
}

.star_container p {
    display: flex;
    height: 100%;
    align-items: center;
}

.headcount_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 30px;
}

.headcount_container h3 {
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 7px;
}

.change_container p {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 7px;
}

.ticker {
    height: 20px;
    width: auto;
    position: relative;
    top: 1px;
}

#heading {
    text-align: center;
    margin-bottom: 50px;
}